{{ block title }}
Cuestionario 2
{{ endblock }}

{{ block styles }}
<!-- Cargar los estilos CSS personalizados -->
<link rel="stylesheet" href="{% static 'global/myStyle.css' %}">
<link rel="stylesheet" href="{% static 'global/myStyleButton.css' %}">

<style>
    .mood-img {
        border: 2px solid transparent;
        border-radius: 10px;
        transition: transform 0.2s ease, border-color 0.2s ease;
    }

    .mood-img:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    .mood-img.selected {
        border-color: #581845;
        box-shadow: 0 0 20px rgba(88, 24, 69, 0.8);
    }

    .col-form-label {
        font-size: 20px;
    }

    .form-control {
        font-size: 20px;
    }

    input[type="radio"]:checked + .mood-img {
        border: 3px solid #007bff;
    }
</style>
{{ endblock }}


{{ block content }}

<p class="mb-4">
  Por favor lee cuidadosamente cada afirmación y responde qué tan verdadera se siente para ti,
  según tus pensamientos, experiencias y reacciones actuales.
</p>


<table class="table">
    <tr>
        <th></th>
        {% for i in range(1, 11) %}
            <th>{{ i }}</th>
        {% endfor %}
    </tr>

    {% for field in form %}
        <tr>
            <td>{{ field.label }}</td>
            {% for choice in field %}
                <td>{{ choice }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

  <div class="text-center mt-4">
    <button type="submit" class="otree-btn-next btn btn-primary btn-lg">Siguiente</button>
  </div>
</form>

{{ endblock }}